@page "/"

@inject IUser userService
@inject IPost postService
@inject IComment commentService
@using TwitterClone.Models


 
 <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



 <div class="col-6"> @*tweet-wrap *@
  <div class="tweet-header">
    <img src="https://pbs.twimg.com/profile_images/1012717264108318722/9lP-d2yM_400x400.jpg" alt="" class="avator">
        <div class="tweet-header-info">
            <select @onchange="HandleChangeUser">
                <option value="">
                    Select User 
                </option> <span> </span>

                    @foreach (var user in users)
                    {
                        <option value="@user.id">@user.name</option>
                    }
                    
            </select>

                @if (selectedUserId != null)
                {
                    var selectedUser = users.FirstOrDefault(u => u.id == selectedUserId);
                    if (selectedUser != null)
                    {
                        <div>
                            <h2>@selectedUser.name</h2>
                            <p>@selectedUser.username</p>
                        </div>
                        
                    }
                }

                @foreach (var post in posts)
                {
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="w-100" src="https://cdn.pixabay.com/photo/2018/10/29/21/46/dog-3782188_1280.jpg">
                            </div>
                            <div class="col-sm-8">
                                <p>@post.PostedDate</p>
                                <h3>@post.title</h3>
                                <p>@post.body</p>
                                <button>Comments</button>
                            </div>
                        <div>

                        </div>
                    </div>
                }
      
    
  </div>    
           </div>

</div>


@code {
    private List<Users> users = new List<Users>();
    private List<UserPosts> posts = new List<UserPosts>();
    private int? selectedUserId;

        private List<UserComments> comments = new List<UserComments>();
        private Users selectedUser => users.FirstOrDefault(u => u.id == selectedUserId);
        protected override async Task OnInitializedAsync()
        {
            users = await userService.GetUsers();
            posts = await postService.GetPosts();
            //@foreach(var user in users){
             // var  posts = await postService.GetPosts(); 
        //}
            
            comments = await commentService.GetComments();
        }
        private void HandleChangeUser(ChangeEventArgs e)
            {
                if (int.TryParse(e.Value?.ToString(), out int userId))
                {
                    selectedUserId = userId;
                }
                else
                {
                    selectedUserId = null;
                }
            }
}